* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: url('banderasmundo.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}

input {
    width: 350px;
    padding: 10px 5px;
    outline: none;
    font-size: medium;
}

#buscar, #borrar {
    display: inline-block;
    align-items: center;
    padding: 13px;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#buscar {
    background-color: skyblue;
}

#borrar {
    background-color: red;
}

.tarjeta {
    width: 250px;
    margin: 10px;
    border: 5px solid black;
    background-color: white;
}

header {
    width: 100%;
    background-image: url('banderascoloridas.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: black;
    text-align: center;
}

h1 span {
    background-color: white;
}

.tarjetaCeleste {
    border: 5px solid #1E90FF;
}

.tarjetaVerde {
    border: 5px solid green;
}

.tarjetaRoja {
    border: 5px solid red;
}

.tarjetaAzul {
    border: 5px solid blue;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
    }

    input {
        width: 100%; 
    }

    #buscar, #borrar {
        width: 50%; 
        text-align: center; 
    }
}
