*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    font-family: sans-serif;
}
body {
    align-items: center;
    background-color: white;
    background-image: url(banderasmundo.jpg);
}
.contenedor {
    display: center;
}
input {
    width: 350px;
    padding: 10px;
    padding-right: 5px;
    outline: none;
    font-size:medium;
}
button {
    position: center;
    align-items: center;
    background-color: skyblue;
    padding: 13px;
    position: left;
    margin-right: auto;
    border: 1px solid black; 
    font-size: 16px;
    border-radius: 5px;
}
button2 {
    position: center;
    align-items: center;
    background-color: red;
    padding: 13px;
    position: left;
    margin-right: auto;
    border: 1px solid black; 
    font-size: 16px;
    border-radius: 5px;
}

.tarjeta {
    width: 250px ;
    margin: 10px;
    border: 5px solid black;
    background-color: white;
   
}

header {
    background-image: url(banderascoloridas.jpg);
}

h1 {
    color: black;
    text-align: center;
}

h1 span{
    background-color: white;
}

@media (min-width: 700px){
    
}
